<a href="https://colab.research.google.com/github/Arnav1511/Bitcoin-prediction/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Description: This program predicts the price of Bitcoin for the next 30 days

In [ ]:
#Import the libraries
import pandas as pd
import numpy as np

In [ ]:
#load the data
from google.colab import files 
uploaded = files.upload()

Saving market-price.csv to market-price.csv

In [ ]:
#Store the data into a variable
df = pd.read_csv('market-price.csv')

#Show the first 7 rows of the data
df.head(7)

   2020-04-07 00:00:00   7343.2
0  2020-04-08 00:00:00  7205.55
1  2020-04-09 00:00:00  7365.03
2  2020-04-10 00:00:00  7293.69
3  2020-04-11 00:00:00  6873.24
4  2020-04-12 00:00:00  6891.60
5  2020-04-13 00:00:00  6915.37
6  2020-04-14 00:00:00  6857.66

In [ ]:
#Remove the Date column
df.drop(['2020-04-07 00:00:00'],1,inplace=True)

In [ ]:
#Show the first 7 rows of the new data set
df.head(7)

    7343.2
0  7205.55
1  7365.03
2  7293.69
3  6873.24
4  6891.60
5  6915.37
6  6857.66

In [ ]:
# A variable for predicting 'n' days out into the future
prediction_days=30  #n = prediction_days 

#Create another colum shifted 'n' units up
df['Prediction'] = df[['7343.2']].shift(-prediction_days)

In [ ]:
#Show the new 7 rows of the data set
df.head(7)

    7343.2  Prediction
0  7205.55    10002.48
1  7365.03     9821.80
2  7293.69     9527.39
3  6873.24     8754.46
4  6891.60     8617.25
5  6915.37     8814.53
6  6857.66     9305.93

In [ ]:
#Show the last 7 rows of the new data set should be empty
df.tail(7)

       7343.2  Prediction
357  58730.13         NaN
358  58735.25         NaN
359  58736.92         NaN
360  59031.32         NaN
361  57076.49         NaN
362  58206.55         NaN
363  59054.10         NaN

In [ ]:
#Create the independent dataset

#Convert the dataframe to a numpy array and then drop the prediction column
X = np.array(df.drop(['Prediction'],1))

#Remove the last 'n' rows where 'n' is prediction
X = X[:len(df)-prediction_days]

print(X)

[[ 7205.55]
 [ 7365.03]
 [ 7293.69]
 [ 6873.24]
 [ 6891.6 ]
 [ 6915.37]
 [ 6857.66]
 [ 6871.95]
 [ 6623.8 ]
 [ 7112.27]
 [ 7034.89]
 [ 7259.36]
 [ 7130.04]
 [ 6840.24]
 [ 6852.52]
 [ 7130.99]
 [ 7477.6 ]
 [ 7507.08]
 [ 7549.52]
 [ 7699.27]
 [ 7790.66]
 [ 7765.33]
 [ 8777.63]
 [ 8628.77]
 [ 8824.66]
 [ 8973.82]
 [ 8903.95]
 [ 8885.93]
 [ 9030.96]
 [ 9170.79]
 [10002.48]
 [ 9821.8 ]
 [ 9527.39]
 [ 8754.46]
 [ 8617.25]
 [ 8814.53]
 [ 9305.93]
 [ 9790.31]
 [ 9303.59]
 [ 9385.7 ]
 [ 9669.4 ]
 [ 9719.37]
 [ 9785.74]
 [ 9510.67]
 [ 9057.57]
 [ 9167.26]
 [ 9178.32]
 [ 8730.73]
 [ 8899.66]
 [ 8842.85]
 [ 9197.54]
 [ 9569.21]
 [ 9425.98]
 [ 9698.1 ]
 [ 9450.84]
 [10204.23]
 [ 9525.57]
 [ 9658.04]
 [ 9794.56]
 [ 9623.75]
 [ 9670.43]
 [ 9753.85]
 [ 9782.59]
 [ 9775.15]
 [ 9892.13]
 [ 9286.42]
 [ 9459.97]
 [ 9473.5 ]
 [ 9330.07]
 [ 9426.7 ]
 [ 9526.  ]
 [ 9454.81]
 [ 9380.03]
 [ 9300.15]
 [ 9357.43]
 [ 9284.78]
 [ 9691.9 ]
 [ 9621.49]
 [ 9276.58]
 [ 9240.85]
 [ 9154.45]
 [ 9004.23]
 [ 9127.47]
 [ 9185.35]
 [ 9133.97]
 [ 9236.38]
 [ 9087.98]
 [ 9072.42]
 [ 9131.31]
 [ 9089.09]
 [ 9348.91]
 [ 9256.23]
 [ 9440.07]
 [ 9238.04]
 [ 9287.4 ]
 [ 9235.96]
 [ 9295.9 ]
 [ 9238.13]
 [ 9254.52]
 [ 9193.51]
 [ 9131.  ]
 [ 9154.19]
 [ 9174.71]
 [ 9214.66]
 [ 9163.87]
 [ 9392.66]
 [ 9537.4 ]
 [ 9613.11]
 [ 9551.28]
 [ 9707.5 ]
 [ 9938.83]
 [11042.4 ]
 [10934.94]
 [11102.67]
 [11114.93]
 [11343.88]
 [11823.69]
 [11077.77]
 [11242.57]
 [11194.25]
 [11750.28]
 [11772.94]
 [11605.6 ]
 [11767.6 ]
 [11684.06]
 [11893.03]
 [11392.43]
 [11573.11]
 [11777.43]
 [11774.38]
 [11873.98]
 [11914.01]
 [12293.72]
 [11969.53]
 [11734.  ]
 [11865.82]
 [11522.8 ]
 [11683.44]
 [11653.02]
 [11763.93]
 [11337.4 ]
 [11467.37]
 [11302.01]
 [11534.75]
 [11481.64]
 [11707.78]
 [11659.57]
 [11923.25]
 [11397.44]
 [10187.51]
 [10467.89]
 [10159.62]
 [10254.93]
 [10367.74]
 [10121.52]
 [10227.83]
 [10352.66]
 [10395.44]
 [10446.44]
 [10330.77]
 [10674.64]
 [10785.62]
 [10948.43]
 [10943.89]
 [10931.79]
 [11081.43]
 [10919.65]
 [10430.46]
 [10532.22]
 [10234.48]
 [10732.43]
 [10692.84]
 [10732.4 ]
 [10774.24]
 [10692.33]
 [10840.8 ]
 [10777.92]
 [10619.24]
 [10575.06]
 [10551.77]
 [10673.46]
 [10788.56]
 [10603.74]
 [10670.8 ]
 [10923.3 ]
 [11063.19]
 [11302.67]
 [11376.61]
 [11540.04]
 [11428.24]
 [11431.32]
 [11503.73]
 [11327.57]
 [11366.51]
 [11508.2 ]
 [11758.16]
 [11925.46]
 [12831.56]
 [12990.25]
 [12944.52]
 [13128.46]
 [13036.77]
 [13076.37]
 [13651.47]
 [13289.  ]
 [13458.66]
 [13564.72]
 [13810.32]
 [13758.88]
 [13575.17]
 [14023.31]
 [14155.59]
 [15591.39]
 [15595.77]
 [14839.84]
 [15490.6 ]
 [15328.53]
 [15317.04]
 [15708.65]
 [16295.57]
 [16339.33]
 [16091.07]
 [15968.16]
 [16725.15]
 [17679.72]
 [17798.45]
 [17820.57]
 [18687.45]
 [18699.75]
 [18422.28]
 [18398.91]
 [19172.52]
 [18739.8 ]
 [17151.44]
 [17138.87]
 [17732.42]
 [18191.6 ]
 [19709.73]
 [18792.52]
 [19226.97]
 [19454.54]
 [18670.49]
 [19155.06]
 [19377.66]
 [19181.41]
 [18318.87]
 [18554.15]
 [18247.76]
 [18029.36]
 [18803.44]
 [19164.48]
 [19276.59]
 [19439.75]
 [21379.48]
 [22847.46]
 [23150.79]
 [23869.92]
 [23490.58]
 [22745.48]
 [23824.99]
 [23253.37]
 [23715.53]
 [24693.58]
 [26443.21]
 [26246.58]
 [27036.69]
 [27376.37]
 [28856.59]
 [28982.56]
 [29393.75]
 [32195.46]
 [33000.78]
 [32035.03]
 [34046.67]
 [36860.41]
 [39486.04]
 [40670.25]
 [40240.72]
 [38240.09]
 [35544.94]
 [34011.82]
 [37393.13]
 [39158.47]
 [36828.52]
 [36065.2 ]
 [35793.01]
 [36632.35]
 [36020.13]
 [35538.98]
 [30797.88]
 [33002.38]
 [32099.74]
 [32276.84]
 [32243.26]
 [32541.8 ]
 [30419.17]
 [33403.17]
 [34314.26]
 [34318.1 ]
 [33136.46]
 [33522.9 ]
 [35529.66]
 [37676.25]
 [37002.09]
 [38278.61]
 [39323.26]
 [38928.1 ]
 [46364.3 ]
 [46589.58]
 [44878.17]
 [48013.38]
 [47471.4 ]
 [47185.19]
 [48720.37]
 [47951.85]
 [49160.1 ]
 [52118.23]
 [51608.15]
 [55916.5 ]
 [56001.2 ]
 [57487.86]
 [54123.4 ]
 [48880.43]
 [50624.84]
 [46800.42]
 [46340.31]
 [46155.87]
 [45113.92]
 [49618.43]
 [48356.04]
 [50477.7 ]
 [48448.91]
 [48861.38]
 [48881.59]]

In [ ]:
#Create the dependant dataset

#Convert the dataframe to a numpy array
y = np.array(df['Prediction'])

#Get all of the values except the last 'n' rows which are NAN

y = y[:-prediction_days]
print(y)

[10002.48  9821.8   9527.39  8754.46  8617.25  8814.53  9305.93  9790.31
  9303.59  9385.7   9669.4   9719.37  9785.74  9510.67  9057.57  9167.26
  9178.32  8730.73  8899.66  8842.85  9197.54  9569.21  9425.98  9698.1
  9450.84 10204.23  9525.57  9658.04  9794.56  9623.75  9670.43  9753.85
  9782.59  9775.15  9892.13  9286.42  9459.97  9473.5   9330.07  9426.7
  9526.    9454.81  9380.03  9300.15  9357.43  9284.78  9691.9   9621.49
  9276.58  9240.85  9154.45  9004.23  9127.47  9185.35  9133.97  9236.38
  9087.98  9072.42  9131.31  9089.09  9348.91  9256.23  9440.07  9238.04
  9287.4   9235.96  9295.9   9238.13  9254.52  9193.51  9131.    9154.19
  9174.71  9214.66  9163.87  9392.66  9537.4   9613.11  9551.28  9707.5
  9938.83 11042.4  10934.94 11102.67 11114.93 11343.88 11823.69 11077.77
 11242.57 11194.25 11750.28 11772.94 11605.6  11767.6  11684.06 11893.03
 11392.43 11573.11 11777.43 11774.38 11873.98 11914.01 12293.72 11969.53
 11734.   11865.82 11522.8  11683.44 11653.02 11763.93 11337.4  11467.37
 11302.01 11534.75 11481.64 11707.78 11659.57 11923.25 11397.44 10187.51
 10467.89 10159.62 10254.93 10367.74 10121.52 10227.83 10352.66 10395.44
 10446.44 10330.77 10674.64 10785.62 10948.43 10943.89 10931.79 11081.43
 10919.65 10430.46 10532.22 10234.48 10732.43 10692.84 10732.4  10774.24
 10692.33 10840.8  10777.92 10619.24 10575.06 10551.77 10673.46 10788.56
 10603.74 10670.8  10923.3  11063.19 11302.67 11376.61 11540.04 11428.24
 11431.32 11503.73 11327.57 11366.51 11508.2  11758.16 11925.46 12831.56
 12990.25 12944.52 13128.46 13036.77 13076.37 13651.47 13289.   13458.66
 13564.72 13810.32 13758.88 13575.17 14023.31 14155.59 15591.39 15595.77
 14839.84 15490.6  15328.53 15317.04 15708.65 16295.57 16339.33 16091.07
 15968.16 16725.15 17679.72 17798.45 17820.57 18687.45 18699.75 18422.28
 18398.91 19172.52 18739.8  17151.44 17138.87 17732.42 18191.6  19709.73
 18792.52 19226.97 19454.54 18670.49 19155.06 19377.66 19181.41 18318.87
 18554.15 18247.76 18029.36 18803.44 19164.48 19276.59 19439.75 21379.48
 22847.46 23150.79 23869.92 23490.58 22745.48 23824.99 23253.37 23715.53
 24693.58 26443.21 26246.58 27036.69 27376.37 28856.59 28982.56 29393.75
 32195.46 33000.78 32035.03 34046.67 36860.41 39486.04 40670.25 40240.72
 38240.09 35544.94 34011.82 37393.13 39158.47 36828.52 36065.2  35793.01
 36632.35 36020.13 35538.98 30797.88 33002.38 32099.74 32276.84 32243.26
 32541.8  30419.17 33403.17 34314.26 34318.1  33136.46 33522.9  35529.66
 37676.25 37002.09 38278.61 39323.26 38928.1  46364.3  46589.58 44878.17
 48013.38 47471.4  47185.19 48720.37 47951.85 49160.1  52118.23 51608.15
 55916.5  56001.2  57487.86 54123.4  48880.43 50624.84 46800.42 46340.31
 46155.87 45113.92 49618.43 48356.04 50477.7  48448.91 48861.38 48881.59
 51169.7  52299.33 54881.52 55997.23 57764.   57253.28 61258.73 59133.47
 55754.72 56872.38 58913.   57665.9  58075.1  58085.8  57411.17 54204.96
 54477.46 52508.23 51415.92 55074.47 55863.93 55783.71 57627.67 58730.13
 58735.25 58736.92 59031.32 57076.49 58206.55 59054.1 ]

In [ ]:
#Split the data into 80% trainig and 20% testing
from sklearn.model_selection import train_test_split
 
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2) #Since test size is 20%, assuming that shuffle is also off, otherwise enclude that in the code

In [ ]:
# Set the prediciton_days_array equal to the last 30 days from the orignal data set
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[51169.7 ]
 [52299.33]
 [54881.52]
 [55997.23]
 [57764.  ]
 [57253.28]
 [61258.73]
 [59133.47]
 [55754.72]
 [56872.38]
 [58913.  ]
 [57665.9 ]
 [58075.1 ]
 [58085.8 ]
 [57411.17]
 [54204.96]
 [54477.46]
 [52508.23]
 [51415.92]
 [55074.47]
 [55863.93]
 [55783.71]
 [57627.67]
 [58730.13]
 [58735.25]
 [58736.92]
 [59031.32]
 [57076.49]
 [58206.55]
 [59054.1 ]]

In [ ]:
# Machine learning using vector regression

from sklearn.svm import SVR

#Create and train the Support Vector Machine (Regression) using the radial basis function

svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)
svr_rbf.fit(x_train, y_train)

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
#Test the model

svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence)

svr_rbf accuracy:  0.22734467414310178

In [ ]:
#Print the predicted values
svm_predcition = svr_rbf.predict(x_test)
print(svm_predcition)

print()

#print the actual values

print(y_test)

[ 9589.23385958 12078.87736262 20329.19551035 24207.86882624
  9539.51350557 14923.48878212 10141.30036676 19098.22390751
 13894.27910196 10234.16943304 13443.11757397 22081.04622979
 11067.84566219 20730.73114371  9597.26919505 18546.57056173
 10525.00462462 21219.58324651  9573.69728286 15847.63319332
 22907.66839657 11190.52548975  9537.31837329 21945.07154424
 20053.33568705  9537.57493211 22782.01188782 21676.38042739
 11727.95233459  9827.93016744 11034.46008677 11328.49149682
 11215.59328394 13966.26760905 19139.73781039 21968.08324489
 22673.4345075  20289.72121354 21089.03386279  9553.10972611
 22415.69748451 15166.60114917 13846.18010251 20051.39124471
 23471.84195135 21849.10841947 15213.22348235 11333.44617172
 12177.92355768 20570.25722679 18512.69469052 11391.08189313
 10531.56856091 21156.21639624 15398.40686883 20051.39402471
 11394.70113355 18896.8625186  13842.10365064 12287.37304358
 13846.07039958 16582.93622992 11851.30303753 10731.85457759
 11079.04909966 20051.4106027  13711.15416383]

[11683.44 10670.8  54881.52 32195.46  9185.35  9178.32  9295.9  18803.44
 13810.32 11337.4  12990.25 48881.59  9525.57 32243.26  9256.23 18699.75
 10330.77 28856.59  9089.09  9303.59 50624.84 11823.69  9348.91 58736.92
 30419.17  9526.   48880.43 47951.85  9450.84  9087.98 10788.56 10002.48
  9551.28 15595.77 19454.54 33002.38 55916.5  46340.31 34318.1   9454.81
 55783.71  9698.1  13076.37 57253.28 33000.78 46155.87  8730.73  9707.5
 16295.57 48861.38 19172.52  9691.9  10446.44 47185.19  9892.13 33403.17
 11774.38 18318.87 15591.39 15317.04 13128.46  8842.85  9286.42 11659.57
  9459.97 58730.13 13758.88]